doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    title= horeserv
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans' type='text/css')
    link(rel='stylesheet' href='css/main.css' type='text/css')
  body.horejserv
    block App
    footer.horejserv-footer
      .horejserv-copyright
        span.horejserv-copyright-content
          | Copyright &#169 brwnrclse
        block footer

